{% extends 'base.html.twig' %}
{% block body %}
    {% for parcourpat in parcoursPatrimoine %}
        <div>
            {{ parcourpat.name }}
            {{ parcourpat.postal }}
            {{ parcourpat.price }}
        </div>
    {% endfor %}
{% endblock %}