{% extends 'base.html.twig' %}
<section>
    <ul>
        <li><a href="ParcoursAleatoire.html.twig">Un parcours aléatoire</a></li>
        <li><a href="ParcoursPatrimoineCulturel.html.twig">Un parcours Patrimoine Culturel</a></li>
        <li><a href="ParcoursRestaurations.html.twig">Un parcours Culinaire</a></li>
        <li><a href="ParcoursRestaurationsLuxe.html.twig">Un parcours pour les initiés culinaires</a></li>
    </ul>
</section>


